<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Weather app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">

</nav>

<div class="unauthenticated">
    <a class="btn" href="/login">Login</a>
</div>
<div class="authenticated" style="display: none">
    Logged in as: <span id="user"></span>
    <div><button onClick="logout()" class="btn">Logout</button></div>
</div>
</body>
</html>